@import '../../../index.scss';

.test {
}
.singlePanel {
    margin: 20px 5px;
    padding: 10px;
    border: 1px solid $borderColor;
    text-align: center;
    display: flex;
    flex-direction: column;
    color:#fff;
    fill:white;

    &:hover,
    &:focus {
        @include hover();
        text-decoration: none;
        fill:yellow;
        color:rgb(165, 58, 58);
    }

    &__image {
        margin-bottom: 20px;
        color:#fff;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__button {
        margin-top: auto;
    }

    &__description {
        font-size: 17px;
    }
}

@media (min-width: 768px) {

    .singlePanel {
        @include centerDiv();
        height: 70vh;
    }
}