@import '../../index.scss';

.choicesPanel {
  @include mainContainer();

  &__title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom:10px;

    &__text {
      text-align: center;
      @include centerDiv();
      width: 90%;
      margin: 0 auto;
    }

    &__icon {
      margin-left: 20px;
    }

    &__logOut{
      height:100%;
      font-size:20px;
      font-family: 'Poppins';
      font-weight: 700;
      @include button();
    }
  }
}

@media (min-width: 768px) {
  .choicesPanel {
    &__titleWraper {
      height: 10vh;
    }

    &__choices {
      height: 90vh;
    }
  }
}
