@import '~bootstrap/scss/bootstrap.scss';

body {
  background-image: url('./Assets/Images/background.jpg');
}

$backgroundMainColor: rgb(47, 46, 51);
$timeDuration: 0.4s;
$borderColor: rgba(131, 131, 131, 0.6);
$lessImportantColor: #a0a0a0;
$aplicationBackgroundColor:rgb(240, 240, 240);
$mainColor : #20bf6b;
$lightMainColor:#fff;
$oppositeColor: #0072bc;

@mixin centerDiv () {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hover () {
  cursor: pointer;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  outline: none;
}

@mixin mainContainer () {
  background-color: $backgroundMainColor;
  border-radius: 5px;
  color: #fff;
}