@import '../../index.scss';

.choiceWorkoutAndLevel {
    height:100vh;
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 100px 100px 1fr;
        grid-template-areas:
        "item1 item2 item3"
        "item1 title item3"
        "item4 title item6"
        "item4 item5 item6";
        grid-gap: 10px;

        &__title {
            grid-area: title;

           height:100%;
           margin:0 auto;
            &__image {
            }
        }
}

@media (min-width: 768px) {}